
@import '../../styles/base.css';

/* Ant Design */
.login-form {
  width: 80%;
  /* max-width: 300px; */
  padding: 50px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

.ant-layout-header {
  background-color: blueviolet;
  color: white;
}